@media (min-width: 768px) {
	
	.container {
		margin: 0 6%;
	}

	.mobile {
		display: none;
	}

	.table {
		display: block;
	}

	.header {
		&__name {
			padding: 22px 0;
		}

		//header__inner 
		&__inner {
			height: 483px;
		}

		// header__wrapper
		&__wrapper {
			
			padding-bottom: 43px;
			background-color: #F1F2F4;
		}

		&__inner {
			width: 768px;
			margin: 0 auto;
		}

		//header__photo
		&__photo {
			min-height: 379px;
			width: 323px;
			margin: 0 0 0 0;
			top: -19px;

			img {
				width: 264px;
				height: 319px;
			}
			.img {
				position: relative;
				width: 264px;
				height: 319px;
				top: 10px;
			}

			&::before,
			&::after {
				width: 141px;
				height: 104px;
			}

			&::before {
				background-image: url("../img/diagonal-1\ table.svg");
			}

			&::after {
				background-image: url("../img/diagonal-2_table.svg");
			}
		}
	}

	//nav
	.nav {
		&__list {
			padding: 15px 0;

			li {
				padding-right: 35px;
				&:nth-last-child(1) {
					padding: 0;
				}
			}
		}

		//sprite
		.desktop {
		
			.nav__search {
				left: -11px;
				top: 10px;
				width: 18px;
				height: 18px;
				padding: 13px;
			}
		
			.nav__basket {
				right: -5px;
				top: 10px;
				width: 11px;
				height: 11px;
				padding: 13px;
			}
		}
	}

	// table__wrapper
	.table__wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	// new-collection
	.new-collection {
		padding-top: 58px;
		padding-left: 31px;

		&__denim {
			margin-top: 13px;
			margin-bottom: 75px;
			margin-left: 16px;
			font-size: 98px;
			color: #151C22;
		}
	}

	.button {
		margin-left: 9px;
		padding: 23px 24px;
	}

	// header__copy 
	.header__copy {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 18px;

		// arrow-down
		.arrow-down {
			content: "";
			position: absolute;
			top: -21px;
			left: -16px;
			width: 10px;
			height: 27px;
			padding: 20px;
			background-image: url("../img/arrow-down.svg");
			background-repeat: no-repeat;
			background-position: center;

			&:hover,
			&:focus {
				color: #727A82;
				transition: 0.3s;
			}	

			&:active {
				color: #727A82;
				opacity: 0.3;
			}
		}

		// social
		.social {

			&__list {
				display: flex;
				font-family: "WorkSans-Medium";
				font-size: 14px;
			}

			&__item {
				padding-left: 35px;
			}

			a {
				padding: 15px 0;
			}
		}
	}

	//main 
	.main {
		min-height: 2430px;
	}

	//main__sellers
	.main__sellers {
		display: flex;
		justify-content: space-between;
		font-size: 28px;
		
		p {
			margin-top: 40px;
		}
		
		.table {
			padding: 0 5px;
			margin-bottom: 5px;
			font-family: "WorkSans-Medium";
			font-size: 18px;
			border-bottom: 2px solid #151C22;
		}
	}
	
	//bestsellers
	.bestsellers {
		margin-top: 55px;
		font-size: 18px;

		&__cart {
			margin-bottom: 47px;

			p {
				padding-top: 23px;

				&:nth-last-child(1) {
					padding-top: 10px;
					font-size: 16px;
				}
			}
		}
	}

	

	// collection
	.collection {
		display: flex;
		flex-direction: row-reverse;
		width: 678px;
		margin: 0 auto;
		margin-top: -6px;

		&__wrap {
			width: 324px;
			min-height: 287px;
			padding-top: 0;
			background-image: url("../img/diagonal-fall-tab.svg");
		}

		// collection__fashion
		&__fashion {
			top: 20px;
			left: 0;
			width: 304px;
			min-height: 247px;
			padding-top: 47px;
			text-align: start;
		}

		p {
			margin-left: 49px;
			margin-bottom: 7px;

			&:nth-last-child(2) {
				padding-bottom: 46px;
				font-size: 32px;
			}
		}

		.button {
			margin-left: 51px;
			padding: 19px 35px;
		}
	}

	//category
	.category {
	
		.bestsellers__cart4 {
			margin-top: -58px;
		}
		p {
			margin-top: 12px;
			&:nth-last-child(1) {
				font-size: 18px;
			}
		}
	}

	// footer
	.footer {
		&__inner {
			min-height: 230px;
		}

		&__copy {
			padding-top: 48px;
			font-family: "WorkSans-ExtraBold";
			font-size: 24px;
			text-align: center;
		}

		&__list {
			display: flex;
			justify-content: space-between;
			width: 478px;
			margin: 0 auto;
			margin-top: 34px;
			font-family: "WorkSans-Medium";
			font-size: 18px;

			a {
				color: #FFFFFF;

				&:hover,
				&:focus {
					color: #727A82;
					transition: 0.3s;
				}

				&:active {
				color: #727A82;
				opacity: 0.3;
				}
			}
		}
	}

	// social__list
	.social__list {
		width: 183px;
		margin: 0 auto;
		margin-top: 36px;
		align-items: center;
	}

}