@font-face {
  font-family: "WorkSans-Regular";
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Bold";
  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-ExtraBold";
  font-display: swap;
  src: url("../fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBold.woff") format("woff");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: "WorkSans-Medium";
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anton-Regular";
  font-display: swap;
  src: url("../fonts/Anton-Regular.woff2") format("woff2"), url("../fonts/Anton-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

header {
  font-family: "WorkSans-Bold";
  font-weight: 400;
  font-size: 50px;
}