@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "fonts";
@import "nullstyle";
@import "table";
@import "desktop";

body {
  font-size: 18px;
  font-family: "WorkSans-Medium";
}

img {
  max-width: 100%;
}

a {
  color: #151c22;
  transition: 0.3s all;
}

a:hover {
  color: #242222b7;
}

a:active {
  color: #0e0d0d50;
}

.table {
  display: none;
}

.container {
  margin: 0 15px;
}

.header__inner {
  max-width: 414px;
  margin: 0 auto;
}

// header
.header {
  background-image: url("img/main-page_bestsellers-2.jpg");
  &__name {
    padding: 17px 0;
    text-align: center;
  }

  // header__tittle
  &__tittle {
    font-family: "WorkSans-ExtraBold";
    font-size: 24px;
  }

  // header__wrapper
  &__wrapper {
    padding-bottom: 74px;
    background-color: #f1f2f4;
  }

  //header__photo
  &__photo {
    position: relative;
    min-height: 290px;
    width: 242px;
    margin: 0 auto;
    margin-top: 37px;

    .img {
      position: relative;
      width: 202px;
      height: 249px;
      padding-top: 20px;
      margin: 0 auto;
      vertical-align: middle;
      z-index: 1;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 109px;
      height: 80px;
    }

    &::before {
      top: 0;
      left: 0;
      background-image: url("../img/diagonal-1.svg");
    }

    &::after {
      bottom: 0;
      right: 0;
      background-image: url("../img/diagonal-2.svg");
    }
  }
}

//nav
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "WorkSans-Medium";
  font-size: 16px;

  &__list {
    position: relative;
    display: flex;
    margin-top: 26px;
    align-items: center;

    li {
      padding-right: 25px;

      &:nth-last-child(1) {
        padding: 0;
      }
    }

    a {
      color: #151c22;

      &:hover,
      &:focus {
        transition: 0.3s;
        opacity: 0.5;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

//desktop
.desktop {
  position: relative;
  width: 65px;

  .nav__search {
    content: "";
    position: absolute;
    padding: 2px;
  }

  .nav__basket {
    content: "";
    position: absolute;
    right: -5px;
    top: -5px;
    width: 18px;
    height: 16px;
    padding: 13px;
    background-image: url("../img/bask.svg");
    background-repeat: no-repeat;
  }

  
}

.socials {
  display: flex;
  font-family: "WorkSans-Medium";
  font-size: 16px;

  a {
    &:hover,
    &:focus {
      color: #727a82;
      transition: 0.3s;
    }

    &:active {
      color: #727a82;
      opacity: 0.3;
    }
  }
}

//new-collection
.new-collection {
  margin: 0 auto;
  margin-top: 27px;
  text-align: center;

  &__text {
    font-family: "WorkSans-Regular";
    font-size: 18px;
    color: #727a82;
  }

  //denim
  &__denim {
    margin-top: 8px;
    margin-bottom: 57px;
    font-family: "Anton-Regular";
    font-size: 86px;
    text-transform: uppercase;
  }

  a {
    color: #ffffff;
    font-size: 16px;
  }
}

.button {
  padding: 23px 17px;
  background-color: #151c22;
  font-family: "WorkSans-Bold";
  color: #ffffff;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #151c22c0;
    transition: 0.3s;
  }

  &:active {
    background-color: #151c2200;
    color: #151c22;
  }
}

//main
.main {
  min-height: 1677px;
  //main__sellers
  &__sellers {
    margin-top: 50px;
    font-family: "WorkSans-Bold";
    font-size: 26px;

    a {
      &:hover,
      &:focus {
        color: #727a82;
        transition: 0.3s;
      }

      &:active {
        color: #727a82;
        opacity: 0.3;
      }
    }
  }

  &__sellers--view {
    text-align: center;
    margin-top: 10px;
  }

  .mobile {
    margin: 0 auto;
    font-family: "WorkSans-Medium";
    font-size: 16px;
    border-bottom: 2px solid #151c22;
    transition: .3s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

//bestsellers
.bestsellers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 35px;
  font-size: 16px;
  
  &__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__link--name {
    padding-top: 20px;
  }

  &__cart {
    position: relative;
    width: 45%;
    margin-bottom: 28px;
    transition: 0.3s;

    &:hover,
    &:focus {
      box-shadow: 6px -6px 5px -5px rgba(34, 60, 80, 0.6);
    }

    p {
      padding-top: 13px;

      &:nth-last-child(1) {
        padding-top: 5px;
        font-family: "WorkSans-Bold";
        font-size: 14px;
      }

      &:hover {
        color: #000000;
      }
    }
  }
}

.product__items--bootom {
  display: none;
}


// collection
.collection {
  margin-top: 60px;

  &__wrap {
    max-width: 414px;
    padding-top: 10px;
    background-image: url("../img/diagonal-fall-mob.svg");
    background-repeat: repeat;
  }

  // collection__fashion
  &__fashion {
    position: relative;
    margin: 0 10px;
    margin-top: 5px;
    max-width: 414px;
    min-height: 207px;
    padding-top: 35px;
    text-align: center;
    background-color: #f1f2f4;
  }

  p {
    margin-bottom: 5px;
    color: #727a82;

    &:nth-last-child(2) {
      padding-bottom: 40px;
      font-family: "WorkSans-Bold";
      font-size: 26px;
      color: #151c22;
    }
  }

  .button {
    font-size: 16px;
    padding: 19px 34px;
  }
}

//category
.category {
  .bestsellers__cart4 {
    margin-top: -35px;
  }
  p {
    margin-top: 8px;
    &:nth-last-child(1) {
      font-family: "WorkSans-Medium";
      font-size: 16px;
    }
  }
}

// footer
.footer {
  background-color: #151c22;
  padding-bottom: 35px;

  &__inner {
    min-height: 230px;
    max-width: 414px;
    margin: 0 auto;

    color: #ffffff;
  }

  a {
    &:hover,
    &:focus {
      color: #727a82;
      transition: 0.3s;
    }

    &:active {
      color: #727a82;
      opacity: 0.3;
    }
  }
}

// mobile__copy
.mobile__copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 53px;

  a {
    color: #ffffff;

    &:hover,
    &:focus {
      opacity: 0.5;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.3;
    }
  }

  p {
    min-width: 130px;
    padding-bottom: 25px;

    &:nth-child(1) {
      margin-top: -5px;
      font-family: "WorkSans-ExtraBold";
      font-size: 24px;
    }
  }
}

.button-arrow {
 
}

.arrow-down {
}

// social__list
.social__list {
  display: flex;
  justify-content: space-between;
  width: 179px;
  margin-top: 13px;
  margin-left: 7px;

  a {
    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

// ---------catalog---------

//catalog__inner
.catalog__inner {
  margin: 0 auto;
}

//menu
.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;

  //menu__nav
  &__nav {
    position: relative;
    width: 100px;
  }

  &__container {
    position: relative;
    z-index: 1;
    transition: 1s;
    transform: translateY(-1000px);
  }

  //menu__list
  &__list {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 5px;

    li {
      width: 100%;
      text-align: center;
      border-bottom: 2px solid #ffffff;

      &:nth-child(3) {
        border: none;
      }
    }

    a {
      display: block;
      padding: 10px 0;
    }
  }

  //menu__items
  &__items {
    display: flex;
    position: relative;
    width: 100px;

    .menu__search::before,
    .menu__basket::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 30px;
      height: 20px;
    }

    //menu__search
    .menu__search::before {
      top: 0;
      left: 35px;
      background-image: url("../img/search-catalog.svg");
    }

    //menu__basket
    .menu__basket::after {
      top: 0;
      right: -10px;
      background-image: url("../img/bask-catalog.svg");
    }
  }
}

//nav-active
.nav-active {
  transform: translateY(0px);

  .menu__list {
    display: flex;
    flex-direction: column;
  }
}

//burger-bth
.burger-bth {
  position: relative;
  width: 20px;
  height: 10px;
  padding: 10px;

  &::before,
  &::after,
  span {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 20px;
    margin-left: -10px;
    background-color: #151c22;
  }

  &::before,
  &::after {
    display: block;
    transition: 0.5s;
  }

  &::before {
    transform: translateY(-5px);
  }

  &::after {
    transform: translateY(5px);
  }
}

//bth-active
.bth-active {
  span {
    height: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

//main__nav
.main-nav {
  //main__nav
  &__list {
    display: flex;
    margin-top: 33px;
    padding-left: 15px;
  }

  li {
    margin-right: 11px;
  }
}

//filter
.filter {
  margin-top: 28px;
}

//Form
.form {
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;

  &__inner {
    display: block;
    height: 0px;
  }

  input {
    display: none;
    visibility: hidden;
  }

  &__filter:checked ~ &__label {
    opacity: 1;
    background-color: #ffffff;
    border-top: none;
    font-size: 16px;
    transform: translateX(0%);
  }

  &__filter:checked ~ &__close {
    border-bottom: 2px solid #151c22;
  }

  &__filter:checked ~ &__apply {
    background-color: #151c22;
  }

  .checkbox2:checked ~ &__price-content {
    min-height: 70px;
    font-size: 14px;
    opacity: 0.9;
    transform: translateX(0px);
  }

  .checkbox3:checked ~ &__color-content,
  .checkbox4:checked ~ &__collection-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 90px;
    font-size: 14px;
    opacity: 1;
    transform: translateY(0);
  }

  &__filter:checked ~ .first,
  .checkbox2:checked ~ .first,
  .checkbox3:checked ~ .first,
  .checkbox4:checked ~ .first {
    transform: rotate(-45deg);
  }

  &__filter:checked ~ .second,
  .checkbox2:checked ~ .second,
  .checkbox3:checked ~ .second,
  .checkbox4:checked ~ .second {
    transform: rotate(45deg);
  }

  &__tittle {
    padding: 15px;
    padding-left: 15px;
    border: 2px solid #151c22;
    background-color: #ffffff;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    opacity: 0;
    transform: translateY(500%);
    border: 2px solid #151c22;
  }

  .content-text {
    padding-top: 15px;
    padding-left: 15px;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    font-size: 0;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s all;
  }

  // arrow --------------------
  &__line {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #000000;
    transition: 0.5s all;
  }

  .first {
    top: 20px;
    right: 19px;
    transform: rotate(45deg);
  }

  .second {
    top: 20px;
    right: 12px;
    transform: rotate(-45deg);
  }
  // ----------------arrow //

  &__apply {
    background-color: #151c22;
  }

  .apply {
    background-color: #151c22;
    color: #ffffff;
    padding: 15px;
  }

  .close {
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  .empty-block {
    padding-bottom: 40px;
  }

  //price ----------------
  .form__price-content {
    transition: 0.5s all;
    opacity: 0;
    transform: translateY(500%);
    min-height: 10px;
    padding: 0;
    margin: 0;
  }

  .slider-range {
    position: relative;
    width: 80%;
    background-color: #151c22;
    height: 10px;
    margin-top: 20px;
    margin-left: 20px;

    span {
      position: absolute;
      border-radius: 50%;
      background-color: #151c22;
    }
  }
  // ---------------- price

  //Color ---------------
  .form__color-content {
    margin-bottom: 5px;
    padding-right: 60px;

    label {
      cursor: pointer;
      position: relative;
      width: 33%;
    }

    label:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      right: 30%;
      top: 30%;
      border-radius: 50%;
    }

    .color1::before {
      background-color: #b0c3c7;
    }

    .color2::before {
      background-color: #3b6392;
    }

    .color3::before {
      background-color: #bfc3c8;
    }

    .color4::before {
      background-color: #2d2e2e;
    }

    .color5::before {
      background-color: #ececec;
    }

    .color6::before {
      background-color: #4193da;
    }

    input[type="radio"]:checked + label:before {
      width: 16px;
      height: 16px;
      transition: 0.5s all;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    }

    label:hover:before {
      transition: 0.5s all;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.7);
    }
  }

  .form__color-content,
  .form__collection-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.5s all;
    opacity: 0;
    transform: translateY(500%);
    min-height: 10px;
  }

  //Collection ---------------
  .form__collection-content {
    .cont {
      width: 50%;
      margin-left: -15px;
      margin-top: 10px;
    }

    a {
      color: #727a82;
      padding: 5px 20px;
      padding-right: 40px;
    }

    a:hover {
      transition: 0.3s;
      color: #151c22;
    }
    .cont__active {
      color: #151c22;
    }
  }
  //---------------Collection
}

//goods
.woman {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}

.woman__card5 {
  grid-column: span 2;
  grid-row: span 2;
}

.woman__card {
  display: none;
}

.card-load {
  position: relative;
  left: 50%;
  height: 66px;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 25px 50px;
  color: #ffffff;
  background-color: #151c22;
  transform: translate(-50%, 0);
  transition: 0.3s;

  &:hover {
    background-color: #727a82;
  }
  &:active {
    background-color: #ffffff;
    color: #000000;
  }
}

.no-—Åontent {
  background-color: #727a82;
  pointer-events: none;
}

// Product card-----------------------------------

.slider {
  display: flex;
  position: relative;
  text-align: center;
  min-width: 0;

  .slick-arrow {
    position: absolute;
    top: 40%;
    width: 20px;
    height: 30px;
    font-size: 0;
    z-index: 10;
    background-color: rgba(54, 25, 25, 0.00004);
    background-position: center;
    background-repeat: no-repeat;
  }

  .slick-arrow.slick-prev {
    left: -5px;
    background-image: url("../img/arrow-prev.svg");
  }

  .slick-arrow.slick-next {
    right: -5px;
    background-image: url("../img/arrow-next.svg");
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.product {
  margin-top: 35px;
  &__wrapper {
    margin: auto;
    margin-bottom: 40px;
    width: 320px;
  }
  &__inner {
    margin: 0 6%;
  }
}

.description {
  background-color: #f1f2f4;

  &__container {
    width: 320px;
    margin: auto;
  }

  &__inner {
    margin: 0 4.8%;
  }

  &__tittle {
    padding-top: 35px;
    font-size: 26px;
    font-family: "WorkSans-Bold";
  }

  &__text {
    margin-top: 25px;
    font-size: 14px;
    font-family: "WorkSans-Regular";
    line-height: 116%;
  }
  &__desc {
    font-size: 16px;
    font-family: "WorkSans-Medium";
    margin-bottom: 25px;
  }

  &__form {
    margin-top: 27px;

    input {
      display: none;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      position: relative;
      margin-right: 43px;
    }

    label:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      border-radius: 50%;
    }

    .color1::before {
      background-color: #b0c3c7;
    }

    .color2::before {
      background-color: #3b6392;
    }

    .color3::before {
      background-color: #bfc3c8;
    }

    input[type="radio"]:checked + label:before {
      width: 16px;
      height: 16px;
      transition: 0.5s all;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    }

    label:hover:before {
      transition: 0.5s all;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.7);
    }
  }

  &__size {
    margin-top: 33px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 165px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 28px;

    a {
      color: #727a82;

      &:hover {
        transition: 0.5s all;
        color: #151c22;
      }
    }
  }

  .button {
    width: 200px;
    height: 64px;
    margin-top: 31px;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 16px;
  }
}

.price {
  font-family: "WorkSans-Bold";
  font-size: 18px;
}

.product__items {
  display: none;
}

.like__text {
  margin-top: 77px;
  font-size: 26px;
  font-family: "WorkSans-Bold";
}

.product-like {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}

.view__all,
.view__all--bottom {
  display: block;
  padding: 2px 5px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 16px;
  background-color: #ffffff;
  border-bottom: 2px solid #151c22;
  transition: 0,3s all;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.1;
  }
}



.table {
  display: none;
}
